apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: controlplane-operator
    app.kubernetes.io/managed-by: kustomize
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: controlplane-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: controlplane-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: controlplane-operator
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
          - --metrics-bind-address=:8443
          - --leader-elect
          - --health-probe-bind-address=:8081
          - --operator-config-file=/etc/kplane/operatorconfig.yaml
          - --cluster-kubeconfig=/etc/kplane/kubeconfig/kubeconfig
        image: controller:latest
        name: manager
        ports: []
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
        - name: operator-config
          mountPath: /etc/kplane
        - name: apiserver-kubeconfig
          mountPath: /etc/kplane/kubeconfig
          readOnly: true
        - name: cluster-signing-keys
          mountPath: /var/run/kplane/cluster-signing
          readOnly: true
      volumes:
      - name: operator-config
        configMap:
          name: operator-config
      - name: apiserver-kubeconfig
        secret:
          secretName: apiserver-kubeconfig
      - name: cluster-signing-keys
        secret:
          secretName: kplane-cluster-signing-keys
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
